@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v16/jizaRExUiTo99u79P0U.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v16/jizfRExUiTo99u79B_mh4Ok.ttf) format('truetype');
}
:root {
  --background-primary: #E5E5E5;
  --background-secondary: #FFFFFF;
  --background-thirdy: #A9967D;
  --background-fourthy: #9F9F9F;
  --background-fifthy: #F4F4F4;
  --primary-text-color: #282828;
  --secondary-text-color: #FFFFFF;
  --thirdy-text-color: #9F9F9F;
  --alert-color: #D14114;
  --alert-background: #FFFFFF;
  --alert-background-hover: #FBF5EE;
  --alert-border: #D14114;
  --disabled-color: #9F9F9F;
  --disabled-background: transparent;
  --disabled-border: #f8f8f8;
  --theme-background: #F4F4F4;
  --primary-border-color: #DAD5CE;
  --range-track-background: #F8F8F8;
  --check-icon: url(../../images/check-white.svg);
}
body.theme-dark {
  --background-primary: #303a49;
  --background-secondary: #414E61;
  --background-thirdy: #F3C17F;
  --background-fourthy: #7F8995;
  --background-fifthy: #F4F4F4;
  --primary-text-color: #C2C7D0;
  --secondary-text-color: #414E61;
  --thirdy-text-color: #7F8995;
  --alert-color: #FF7449;
  --alert-background: #303A49;
  --alert-background-hover: #1A2535;
  --alert-border: #FF7449;
  --disabled-color: #7F8995;
  --disabled-background: transparent;
  --disabled-border: #7F8995;
  --theme-background: #303A49;
  --primary-border-color: #2C3645;
  --range-track-background: #576375;
  --check-icon: url(../../images/check-black.svg);
}
button {
  outline: none;
  border: none;
}
* {
  font-family: 'PT Sans', sans-serif;
}
body {
  background-color: var(--background-primary);
}
.section-content {
  background-color: var(--background-secondary);
  box-shadow: 0px 1px 4px rgba(59, 67, 87, 0.1);
}
.header {
  height: 123px;
  background-color: var(--background-secondary);
}
.hero {
  padding-top: 25px;
  padding-bottom: 50px;
}
.hero-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: var(--primary-text-color);
}
.hero-theme-buttons {
  display: flex;
}
.hero-theme-button {
  padding: 4px;
  width: 210px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-background);
  position: relative;
}
.hero-theme-button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.hero-theme-button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.hero-theme-button:not(:last-child):after {
  content: '';
  position: absolute;
  width: 2px;
  height: 24px;
  right: -1px;
  top: 4px;
  background-color: var(--primary-border-color);
}
.banner {
  width: 100%;
  max-width: 180px;
  height: 466px;
  background-color: var(--background-secondary);
}
.custom-btn {
  background-color: var(--background-thirdy);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}
.custom-btn span.icon {
  margin-right: 8px;
}
.custom-btn svg path {
  stroke: var(--secondary-text-color);
}
.custom-btn:hover {
  opacity: 0.7;
}
.custom-btn.custom-btn-outline {
  background-color: var(--background-secondary);
  color: var(--background-thirdy);
  border: 1px solid var(--background-thirdy);
}
.custom-btn.custom-btn-outline svg path {
  stroke: var(--background-thirdy);
}
.custom-btn.custom-btn-outline:hover {
  opacity: 0.8;
}
.custom-btn:disabled {
  color: var(--disabled-color);
  border: 1px solid var(--disabled-border);
  background-color: var(--disabled-background);
}
.custom-btn:disabled svg path {
  stroke: var(--disabled-color);
}
.custom-btn:disabled:hover {
  opacity: 1;
}
.theme-btn {
  width: 100%;
  min-height: 24px;
  font-family: 'PT Sans', sans-serif;
  background-color: transparent;
  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}
.theme-btn.active {
  background-color: var(--background-secondary);
}
.form-group-bordered {
  padding: 24px 16px;
  border: 1px solid var(--primary-border-color);
  border-radius: 8px;
  position: relative;
  background-color: inherit;
}
.form-group-bordered__remove-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -12px;
  top: -12px;
  width: 24px;
  height: 24px;
  box-shadow: 0px 4px 10px rgba(58, 58, 58, 0.25);
  border-radius: 4px;
  background-color: var(--alert-background);
  padding: 0;
}
.form-group-bordered__remove-btn svg {
  width: 16px;
}
.form-group-bordered__remove-btn:hover {
  background-color: var(--alert-background-hover);
}
.form-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: var(--primary-text-color);
}
.form-title-top {
  margin-bottom: 15px;
}
.form-label {
  color: var(--primary-text-color);
}
.form-label.required::after {
  content: '*';
  color: var(--alert-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 16px;
}
.form-label-top {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 40px/2 0;
  width: calc(100% - 1rem);
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  background: var(--range-track-background);
  border-radius: 5px;
}
input[type=range]::-webkit-slider-thumb {
  position: relative;
  z-index: 100;
  height: 40px;
  width: 12px;
  background-color: var(--fourthy-color);
  border-top: 10px solid var(--background-thirdy);
  border-bottom: 10px solid var(--background-thirdy);
  border-left: 4px solid var(--background-thirdy);
  border-right: 4px solid var(--background-thirdy);
  border-radius: 2px;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  background: var(--range-track-background);
  border-radius: 5px;
  border: 1px solid var(--primary-border-color);
}
input[type=range]::-moz-range-thumb {
  position: relative;
  z-index: 100;
  height: 40px;
  width: 12px;
  background-color: var(--fourthy-color);
  border-top: 10px solid var(--background-thirdy);
  border-bottom: 10px solid var(--background-thirdy);
  border-left: 4px solid var(--background-thirdy);
  border-right: 4px solid var(--background-thirdy);
  border-radius: 2px;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 12px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: var(--range-track-background);
  border: 1px solid var(--primary-border-color);
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: var(--range-track-background);
  border: 1px solid var(--primary-border-color);
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  position: relative;
  z-index: 100;
  height: 40px;
  width: 12px;
  background-color: var(--fourthy-color);
  border-top: 10px solid var(--background-thirdy);
  border-bottom: 10px solid var(--background-thirdy);
  border-left: 4px solid var(--background-thirdy);
  border-right: 4px solid var(--background-thirdy);
  border-radius: 2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--range-track-background);
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--range-track-background);
}
.form-input__wrapper {
  position: relative;
}
.form-input-text {
  background-color: var(--background-secondary);
  font-family: 'PT Sans', sans-serif;
  color: var(--primary-text-color);
  width: 100%;
  border: 1px solid var(--primary-border-color);
  border-radius: 4px;
  padding: 0px 16px;
  outline: none;
  min-height: 48px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.form-input-text::placeholder {
  font-family: 'PT Sans', sans-serif;
  color: var(--thirdy-text-color);
}
.form-input-text ~ .invalid-message {
  position: absolute;
  bottom: -16px;
  left: 0;
  display: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--alert-color);
}
.form-input-text.invalid {
  border: 1px solid var(--alert-border);
}
.form-input-text.invalid ~ .invalid-message {
  display: block;
  color: var(--alert-color);
}
.form-input-range {
  background-color: var(--range-track-background);
  border-radius: 4px;
  position: absolute;
}
.form-input-range__value {
  width: 48px;
  height: 48px;
  color: var(--primary-text-color);
  background-color: inherit;
}
.form-input-range__wrapper {
  position: relative;
  height: 48px;
  border: 1px solid var(--primary-border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: inherit;
}
.form-input-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form-input-checkbox + label {
  display: inline-flex;
  align-items: flex-start;
  user-select: none;
  cursor: pointer;
}
.form-input-checkbox + label:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 4px;
  margin-right: 5px;
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90% 90%;
}
.form-input-checkbox:checked + label::before {
  border-color: var(--background-thirdy);
  background-color: var(--background-thirdy);
  background-image: var(--check-icon);
}
.form-input-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: var(--thirdy-color);
}
.form-input-checkbox:not(:disabled):active + label::before {
  background-color: inherit;
  border-color: var(--thirdy-color);
}
.form-input-checkbox:focus:not(:checked) + label::before {
  border-color: var(--thirdy-color);
}
.form-input-checkbox:disabled + label::before {
  background-color: inherit;
}
.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background-color: var(--background-thirdy);
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px var(--background-thirdy);
}
.switch input:checked + .slider:before {
  transform: translateX(12px);
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-fourthy);
  transition: 0.4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: calc((16px - 12px) / 2);
  bottom: calc((16px - 12px) / 2);
  background-color: var(--background-secondary);
  transition: 0.4s;
}
.switch .slider.round {
  border-radius: 16px;
}
.switch .slider.round:before {
  border-radius: 50%;
}
/*# sourceMappingURL=./style.css.map */