// main: ../style.less

@primary-text-color: #000000;
@secondary-text-color: #282828;
@primary-color: #282828;
@secondary-color: #9F9F9F;
@thirdy-color: #A9967D;
@fourthy-color: #FFFFFF;
@background-primary: #FCFCFC;
@background-secondary: #FFFFFF;
@background-secondary-light: #FFFFFF;
@background-thirdy: #C4C4C4;
@background-fourth: #D14114;
@background-fifthy: #F4F4F4;

@border-color: #DAD5CE;
@border-primary-color: #9F9F9F;
@border-secondary-color: #D14114;

// @primary-text-color: #FFFFFF;
// @secondary-text-color: #FFFFFF;
// @primary-color: #282828;
// @secondary-color: #9F9F9F;
// @thirdy-color: #60A772;
// @fourthy-color: #FFFFFF;
// @background-primary: #0f1723;
// @background-secondary: #141C2C;
// @background-secondary-light: rgba(#ffffff, .1);
// @background-thirdy: #202E44;
// @background-fourth: #D14114;
// @background-fifthy: #0F1723;
// @border-color: transparent;
// @border-primary-color: #9F9F9F;
// @border-secondary-color: #D14114;

// button
@button-wrapper-background: #F4F4F4;
@button-background: @thirdy-color;
@button-color: @fourthy-color;
@button-separator-color: @border-color;
@button-global-background: @background-primary;

// range 
@range-track-background: @background-fifthy;
@range-thumb-background: @thirdy-color;
@range-track-border: @primary-text-color;

// switch
@switch-background: @thirdy-color;
@switch-unchecked-background: @secondary-color;
@switch-round-background: @fourthy-color;