// main: ../style.less

:root {
  --background-primary: #E5E5E5; 
  --background-secondary: #FFFFFF;
  --background-thirdy: #A9967D;
  --background-fourthy: #9F9F9F; // unchecked check
  --background-fifthy: #F4F4F4; // unchecked check
  --primary-text-color: #282828; // main-text
  --secondary-text-color: #FFFFFF; // main-text-invert
  --thirdy-text-color: #9F9F9F; // placeholders
  --alert-color: #D14114; // alert
  --alert-background: #FFFFFF; // alert
  --alert-background-hover: #FBF5EE; // alert
  --alert-border: #D14114; // alert
  --disabled-color: #9F9F9F; // disabled
  --disabled-background: transparent; // disabled
  --disabled-border: #f8f8f8; // disabled
  --theme-background: #F4F4F4; // theme btns

  --primary-border-color: #DAD5CE; // border inputs

  --range-track-background: #F8F8F8;

  --check-icon: url(../../images/check-white.svg);
}

body.theme-dark {
  --background-primary: #303a49;
  --background-secondary: #414E61;
  --background-thirdy: #F3C17F;
  --background-fourthy: #7F8995; // unchecked check
  --background-fifthy: #F4F4F4; // unchecked check
  --primary-text-color: #C2C7D0; // main-text
  --secondary-text-color: #414E61; // main-text-invert
  --thirdy-text-color: #7F8995; // placeholders
  --alert-color: #FF7449; // alert
  --alert-background: #303A49; // alert
  --alert-background-hover: #1A2535; // alert
  --alert-border: #FF7449; // alert
  --disabled-color: #7F8995;; // disabled
  --disabled-background: transparent; // disabled
  --disabled-border: #7F8995;; // disabled
  --theme-background: #303A49; // theme btns

  --primary-border-color: #2C3645; // border inputs

  --range-track-background: #576375;

  --check-icon: url(../../images/check-black.svg);
}

